<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav d-flex flex-column" mode="side">
    <div class="d-flex flex-column">
      <button class="btn btn-primary m-2" routerLink="/">Home</button>
      <button class="btn btn-primary m-2" routerLink="/about">About</button>
      <button class="btn btn-primary m-2" routerLink="/contact">Contact</button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="m-2 btn btn-secondary" (click)="drawer.toggle()">
      @if (isSmallScreen) {
        <mat-icon>menu</mat-icon>
      } @else {
      Open Menu
      }
    </button>

    <div class="m-2 p-2 border">
      <span><b>1 - </b>Написати функцію на js яка приймає в якості параметру string і повертає це слово в оберненому вигляді (передали  “молоток” - отримати “котолом”)</span><br>
      Input: <input (input)="onInputChange($event)">
      Output: {{reversedText}}
    </div>

    <div class="m-2 p-2 border">
      <span><b>2 - </b>Написати функцію яка генерує пароль який включає наступні умови та має загальну довжину 8 символів: Велику літеру, Маленьку літеру, Символ(знак), Цифру
</span><br>
      <button class="btn btn-primary" (click)="generatePassword()">Generate</button>
      Output: {{password}}
    </div>

    <div class="m-2 p-2 border">
      <span><b>3 - </b>Реалізувати компоненту для відображення товарів (батьківська компонента).
        Кожен товар мусить бути окремою компонентою яка містить нижче зазначені поля об’єкту та кнопку “придбати”.
        Виконати запит https://fakestoreapi.com/products але щоб в батьківську копоненту результатом відповіді повернувся Observable зі зміненими об’єктами де кожен продукт має тільки: title, price, image.
        Відобразити ці об’єкти де кожен об’єкт це компонента товару.
        При клікі на кнопку  “придбати” отримати в батьківському компоненті об’єкт товару на який натиснули і вивести в консоль.
        Реалізувати пошук товарів за title.
      </span><br>
      <app-parent-product/>
    </div>
  </div>

</mat-drawer-container>
